* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body,
html,
header {
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: rgb(203, 253, 246);
}

.footer a{
  color: gray;
  text-decoration: none;
}

.footer h5 {
  margin: 0.3rem;
  color: rgb(56, 56, 56);
}

.header-image { 
  position: relative; 
  height: 35vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/covid.jpeg');
  background-size: cover;
}

.header-image::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.5);
}

.page-heading {
  color: rgb(255, 255, 255);
  z-index: 1;
}

.navbar {
  height:12vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-out;
  background-color: transparent;
}

.navbar a {
  text-decoration: None;
  color: rgb(155, 155, 155);
  font-size: 1.25rem;
}

.navbar a:hover {
  color: white;
}

.scrolled-nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  color:white;
}


.spot {
  position:absolute;
  top:11.5vh;
  left:0;
  /* margin-top:11.9vh; */
  height: 0;
}



.search-bar:focus, .search-bar {
  border:0;
  border-radius: 0;
  border-bottom: solid 1px rgb(56, 56, 56) !important;
  background-color: transparent;
  outline: none !important;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  color:#798777;
  font-size: 1.25em;
}

.search-bar:focus{
  color: white;
  border-color: white;
}
.sidenav {
  /* height:6vh; */
  position: fixed;  
  font-size: 25px;
  cursor: pointer;
  background-color: transparent;
  z-index:3;
  color: grey;
  padding: 10px 10px;
  border: none;
}
.toggle-icon{
  background-color: transparent;
  border:none
  
}
toggle-icon:hover {
color: #444;
}
.toggle-icon:focus{
  box-shadow: none;
  border:none;
  background-color: transparent;
}

.sidebar {
  height: 100vh; 
  width:40vw;  
  position:fixed;
  top :0;
  left:-100%;
  color:white;
  z-index: 2; 
  background-color: black;
  overflow-x: hidden; 
  padding-top: 60px; 
  -webkit-transition: 750ms;
  -moz-transition: 750ms;
  -ms-transition: 750ms;
  -o-transition: 750ms;
  transition:750ms;
}

.sidebar.active{
 
 left:0;
 
 transition: 250ms;
 -webkit-transition: 250ms;
 -moz-transition: 250ms;
 -ms-transition: 250ms;
 -o-transition: 250ms;
}


.sidebar a {
  line-height: 6vh;
  padding-left: 35px; 
  text-align: left;
  text-decoration: none;
  font-size: 1.2rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}


.sidebar a:hover,.sidebar .selected {
  color: #f1f1f1;
}

#main {
  transition: margin-left .5s; 
  padding: 20px;
}

 @media only screen and (min-width: 560px) {
  .sidebar.active {width:30vw;}
}
  

